// variables

$Pale-violet: hsl(276, 100%, 81%); // Sub-heading at the top of the app UI
$Moderate-violet: hsl(276, 55%, 52%); // Chat on the left
$Desaturated-dark-violet: hsl(271, 15%, 43%); // Chat on the right
$Grayish-blue: hsl(206, 6%, 79%); // Placeholder text
$BG-body: #f9f9f9; // body background
$Main-heading: hsl(271, 36%, 24%); // Main heading Very Dark Desaturated Violet
$Paragraph: hsl(270, 7%, 64%); // Paragraph Dark Grayish Violet

// These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$Light-magenta: hsl(293, 100%, 63%);
$Light-violet: hsl(264, 100%, 61%);


$White: hsl(0, 0%, 100%);
$App-background: hsl(270, 20%, 96%); // Light Grayish Violet app bg
$Submit-button-background: hsl(271, 36%, 24%); // Very Dark Desaturated Violet
$Radio-button-outline: hsl(289, 100%, 72%); // Very Light Magenta

$font-family: 'Rubik', sans-serif;